<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <div id="header_logo">
      </div>
      <nav id="header_navigation">
        <ul class="header_navigation_list">
          <li><a href="" title="home">home</a></li>
          <li><a href="" title="about">about</a></li>
          <li><a href="" title="blog">blog</a></li>
          <li><a href="" title="projects">projects</a></li>
          <li><a href="" title="resume">resume</a></li>
        </ul>
      </nav>
    </header>

    <content>
      <div id="primary_content">
        
      </div>

      <div id="secondary_content">
        
      </div>

      <div id="tertiary_content">
        
      </div>

    </content>

    <footer>
    </footer>
  </body>
</html>